.input-wrapper {
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  display: flex;
  align-items: center;
  border: 1px solid #213547;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 18px;
  width: 100%;
  margin-left: 5px;
}

input:focus {
  outline: none;
}

#search-icon {
  color: #213547;
}

@media (min-width: 768px) {
  input {
    font-size: 16px;
  }

  .input-wrapper {
    width: 50%;
  }
}

.search-bar-button {
  height: 100%;
  background-color: transparent;
}
